//? --------------- Media screen -----------

@media screen and (max-height: 540px) {
  .scroll-btn {
    display: none;
  }
}

//!------------ Macbooks -----------

@media only screen and (max-width: 1080px) {
  .img-carousel {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 1060px) {
  .grid-about-us {
    grid-template-columns: 1fr;
    grid-template-areas: "image1" "text1";
    padding: 4rem 1rem 7rem 1rem;
    gap: 4rem;
    text-align: center;
  }
  .grid-roasting {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "image";
    padding: 2rem 1rem;
    text-align: center;
  }
  .img-up {
    top: 0%;
  }
  //*? ---- our sack coffe
  .flex-sack {
    gap: 1rem;
  }

  .zrno {
    top: -10rem;
    left: 75%;
  }
}

@media only screen and (max-width: 942px) {
  // ? ---- navbar menu -----
  nav .logo {
    margin: 0;
  }
  .hamburger {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav.click {
    background: $nav-bg-mobile;
    box-shadow: 0 4px 10px $black-clr;
  }
  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }
  .nav-links li {
    text-align: center;
  }
  .nav-links li a {
    padding: 0.5rem 1rem;
  }
  .nav-links.active {
    display: flex;
    padding-bottom: 2.5rem;
  }

  // ? --- width on 90% ----
  .mobile-width {
    width: $width-expand;
  }

  .hero-bg {
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 78%;
    background-position-y: -70px;
  }
  .wawe {
    background-position: bottom left;
  }
  .grid-container {
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
      ". . . ."
      ". content content ."
      ". arrow arrow .";
  }
  .content {
    text-align: center;
    align-items: center;
  }
  .brand-logo {
    margin: 0;
  }
  .title::after {
    margin: 10px auto;
  }

  // ? ----- SECOND HERO ----

  .grid_hero_2 {
    grid-template-areas:
      ". . . ."
      ". text text ."
      ". arrow arrow .";
  }
  .cta {
    flex-direction: column;
    .cta-btn1,
    .cta-btn2 {
      margin: 0.5rem 0;
    }
  }

  .img-carousel {
    display: none;
  }

  .button-more {
    font-size: 13px;
  }

  //*? ---- our sack coffe -----
  .flex-sack {
    gap: 0.5rem;
  }
  // ? ---- menu ----
  .menu-container {
    padding-top: 12%;
  }
  // ? ----- sitting -----
  .grid-sitting {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.8fr;
    gap: 1rem;
    padding: 2rem 0 0 0;
  }
  .text-sitting {
    padding-top: 0;
    p {
      text-align: center;
    }
  }

  //  ? ----- a hours section -----
  .grid-contact-open {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .open-wawe {
    background-position: center left;
  }

  .zrno {
    display: none;
  }

  .footer-lists {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .animate-to-right {
    transform: translate(-10px, 0);
  }
  .animate-to-left {
    transform: translate(10px, 0);
  }
}

// -------- Ipad ---------
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .banner {
    height: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0 4px;
  }
  .info-buttons {
    width: 150px;
  }
  //*? ---- our sack coffe -----
  .flex-sack {
    gap: 1rem;
  }
  .sack-size {
    border-radius: 15px;
  }
  .mild-sack {
    position: relative;
    left: 10vw;
    z-index: 30;
  }
  .medium-sack {
    position: relative;
    z-index: 20;
  }
  .strong-sack {
    position: relative;
    right: 10vw;
    z-index: 10;
  }
  .flex-sack::after {
    bottom: -7.2rem;
    transform: scale(0.8);
  }
  // ? ----- our menu -----
  .lever-border {
    justify-content: space-between;
    p {
      font-weight: 500;
    }
  }

  .grid_hero_2 {
    // background-position-y: -80px;
    background-position-x: 220px;
  }
}
@media only screen and (max-width: 600px) {
  .grid_hero_2 {
    background-position-x: 100px;
  }
}

// ----------- Mobile screen ---------
@media only screen and (max-width: 500px) {
  .banner {
    height: 200px;
  }
  .flex-sack::after {
    bottom: -6.3rem;
    transform: scale(0.5);
  }
  .lever-border {
    p {
      padding: 0 0.6rem;
    }
  }
  .cta .cta-btn1,
  .cta .cta-btn2 {
    box-shadow: 0 6px 40px $black-clr;
  }
  // ? open hours table
  .open-table {
    aspect-ratio: 1 / 0.9;
  }
  .lever-border {
    width: 98%;
    height: 84%;
    border: 2px solid $black-clr;
  }
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .title {
    margin: 0.5rem 0;
    padding: 0 0 0.5rem 0;
  }
  .banner {
    height: 80%;
  }
  .grid_hero_2 {
    background-position-x: 50px;
  }
}

@media only screen and (max-width: 425px) {
  // ? hero cta buttons
  .cta {
    .cta-btn1,
    .cta-btn2 {
      height: 45px;
    }
  }

  // ! ---- menu on mobile ----
  #menu {
    padding-bottom: 6rem;
  }

  .menu-container {
    overflow: hidden;
    padding: 1rem 0;
    position: relative;
    scroll-behavior: smooth;
    perspective: 100px;
    border-radius: 30%;

    .name-cofe {
      padding: 0.5rem 1rem;
    }
  }
  .menu-slider {
    display: flex;
    width: 100%;
    animation: scroll 27s linear infinite;
  }

  .menu-slider:hover {
    animation-play-state: paused;
  }
  .name-cofe {
    width: max-content;
    padding: 0.5rem 1.2rem;
    margin: 0 0.6rem;

    background-color: $main-white-bg;
    border-radius: 15px;
    box-shadow: 3px 2px 10px $black-clr;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
      opacity: 0.5;
    }
    5% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(calc(8 * -170px));
      opacity: 0.5;
    }
  }

  // ? --- SLIDER BORDER ----
  .menu-container::before,
  .menu-container::after {
    background: linear-gradient(
      to right,
      rgba(167, 167, 167, 0.6) 0%,
      rgba(255, 255, 255, 0) 50%
    );
    content: "";
    height: 100%;
    position: absolute;
    width: 4%;
    z-index: 10;
    border-radius: 30%;
  }
  .menu-container::before {
    left: 0%;
    top: 0;
  }
  .menu-container::after {
    background: linear-gradient(
      to left,
      rgba(167, 167, 167, 0.6) 0%,
      rgba(255, 255, 255, 0) 50%
    );
    right: 0%;
    top: 0;
  }

  // ? ----- TEXT MENU (MOBILE) -----
  .menu-container .name-cofe p,
  .menu-container .name-cofe span {
    color: $black-clr;
    padding-left: 0.5rem;
  }
  .menu-container .left-side,
  .menu-container .right-side {
    display: flex;
    flex-direction: row;
  }

  // ? ---- MENU BLACK LINE ON SIDE
  .menu-container .left-side p::before {
    background-color: $black-clr;
    top: 0.7rem;
    left: 0.7rem;
    height: 1.9rem;
    width: 4px;
  }
  .menu-container .right-side p::after {
    display: none;
  }
  .menu-container .right-side p::before {
    content: "";
    position: absolute;
    border-radius: 1.3rem;
    background-color: $black-clr;
    top: 0.7rem;
    left: 0.7rem;
    height: 1.9rem;
    width: 4px;
  }

  // ! ---- RATING CAROUSEL ----
  .grid-rating {
    display: flex;
    overflow: auto;
    gap: 12px;
    scroll-padding: 10px;
    padding: 10px;
    scroll-snap-type: x mandatory;
  }

  .customer {
    flex: 0 0 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

@media only screen and(max-width: 340px) {
  .flex-sack {
    gap: 0rem;
  }
}

@media (max-width: 320px) {
  //*? ---- our sack coffe -----
  .mild-sack {
    left: 13vw;
    transform: scale(1.05);
  }
  .strong-sack {
    right: 13vw;
    transform: scale(1.05);
  }
  .medium-sack {
    transform: scale(1.05);
  }
}

@media only screen and (max-height: 635px) and (max-width: 425px) {
  .scroll-btn {
    display: none;
  }
}
